<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IWorkflowDebugService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8071/" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IWorkflowDebugService"
                contract="TxFlowDebugServiceReference.IWorkflowDebugService"
                name="WSHttpBinding_IWorkflowDebugService">
                <identity>
                    <userPrincipalName value="MARIUS-PC\Marius" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>